body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('assets/images/starry_sky.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

#main-menu {
    text-align: center;
    color: white;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    padding: 20px 40px;
    font-size: 1.2em;
    background-color: #1a73e8;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0f5bbd;
}
